


html{
    cursor: none;
    -ms-overflow-style: none;  
            scrollbar-width: none;  

    scroll-behavior: smooth;
    

}

body{
  font-family: 'Libre Baskerville';
}


@layer utilities{
        
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
       
        .no-scrollbar {
            -ms-overflow-style: none;  
            scrollbar-width: none;  
      }
}

.ScrollPics h2 {
    font-size: 6rem;
}


.ScrollPics {
    width: 100%;
    height: 100vh;
  }
  
  .SC_inner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
  }
  
  @supports (-webkit-overflow-scrolling: touch) {
    .SC_inner {
      clip: unset;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
    }
  }
  
  .SC_title {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .SC_content {
    color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
}

.SC_scrollable {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/* Optional: Adjust scrollbar styles */
.SC_scrollable::-webkit-scrollbar {
    display: none;
}


  .circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: white;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }

  .perspectiveDiv {
    transform:
      rotateX(51deg)
      rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition:
      .4s ease-in-out transform,
      .4s ease-in-out box-shadow;
  
    &:hover {
      transform:
        translate3d(0px, 0px, 0px)
        rotateX(0deg)
        rotateZ(0deg);
      box-shadow:
        1px 1px 0 1px #f9f9fb,
        -1px 0 28px 0 rgba(34, 33, 81, 0.01),
        54px 54px 28px -10px rgba(34, 33, 81, 0.15);
    }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
