@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    cursor: none;
    -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */

    scroll-behavior: smooth;

}
body{
  font-family: 'Libre Baskerville';
}

@layer utilities{
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
       /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
      }
}

.ScrollPics:nth-child(1) figure {
    background-image: url(../resources/ib1.jpg);
}

.ScrollPics:nth-child(2) figure {
    background-image: url(../resources/ib2.jpg);
}

.ScrollPics:nth-child(3) figure {
    background-image: url(../resources/ib3.jpg);
}


.ScrollPics h2 {
    font-size: 6rem;
}

.ScrollPics h1 {
    font-size: 8rem;
}
.ScrollPics {
    width: 100%;
    height: 100vh;
  }
  
  .SC_inner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
  }
  
  @supports (-webkit-overflow-scrolling: touch) {
    .SC_inner {
      clip: unset;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
    }
  }
  
  .SC_title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
  }
  .SC_content{
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    color: white;
  }


  .circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: white;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }