


html{
    cursor: none;
    -ms-overflow-style: none;  
            scrollbar-width: none;  

    scroll-behavior: smooth;
    

}

body{
  font-family: 'Libre Baskerville';
}
#Skills h2{
  font-family: 'Inconsolata';
}


@layer utilities{
        
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
       
        .no-scrollbar {
            -ms-overflow-style: none;  
            scrollbar-width: none;  
      }
}

.ScrollPics h2 {
    font-size: 6rem;
}


.ScrollPics {
    width: 100%;
    height: 100vh;
  }
  
  .SC_inner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
  }
  
  @supports (-webkit-overflow-scrolling: touch) {
    .SC_inner {
      clip: unset;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
    }
  }
  
  .SC_title {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .SC_content {
    color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
}

.SC_scrollable {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/* Optional: Adjust scrollbar styles */
.SC_scrollable::-webkit-scrollbar {
    display: none;
}


  .circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: white;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }

  .perspectiveDiv {
    transform:
      rotateX(51deg)
      rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition:
      .4s ease-in-out transform,
      .4s ease-in-out box-shadow;
  
    &:hover {
      transform:
        translate3d(0px, 0px, 0px)
        rotateX(0deg)
        rotateZ(0deg);
      box-shadow:
        1px 1px 0 1px #f9f9fb,
        -1px 0 28px 0 rgba(34, 33, 81, 0.01),
        54px 54px 28px -10px rgba(34, 33, 81, 0.15);
    }
  }

  .cornerBorder{
    --b: 1px;   /* thickness of the border */
    --c: white;   /* color of the border */
    --w: 8rem;  /* width of border */
    
  
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
  }

  .gallery {
    --s: 150px; /* control the size */
    --g: 10px;  /* control the gap */
    display: flex;
    grid-template-columns: repeat(6, var(--s));
    grid-auto-rows: var(--s);
    gap: var(--g);
  }
  
  .gallery > img {

    width: var(--s);
    aspect-ratio: 0.866;
    object-fit: contain;
    /* clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0); */
    transform: translate(var(--_x, 0), var(--_y, 0)) scale(var(--_t, 1));
    cursor: pointer;
    filter: grayscale(100%);
    transition: 0.2s linear;
    border-radius: 20%;
  }
  
  .gallery > img:hover {
    filter: grayscale(0);
    z-index: 1;
    --_t: 1.4;
  }

  .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; Adjust  */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
